<form method="post" action="/courses/{{course._id}}?_method=PUT">
  <div class="form-group">
    <h1>Cập nhật khóa học</h1>
    <label for="name">Tên khóa học</label>
    <input type="text" name="name" class="form-control" value="{{course.name}}" id="name">
    <label for="description">Mô tả</label>
    <input type="text" name="description" class="form-control" value="{{course.description}}" id="description">
    <label for="videoId">Video ID</label>
    <input type="text" name="videoId" class="form-control" value="{{course.videoId}}" id="videoId">
    <label for="level">Trình độ</label>
    <input type="text" name="level" class="form-control" value="{{course.level}}" id="level">
  </div>
 
  <button type="submit" class="btn btn-primary">Lưu lại</button>
</form>